@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select_type {
  background-color: black;
  background-size: cover;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size:x-large;
}

.type {
  justify-self: center;
  padding-bottom: 80px;
  padding-top: 80px;
  margin-right: 30px;
}

.prod {
  background-color: blanchedalmond;
  padding: 60px;
}

.flex_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin-inline: 20%;
}

.flex_item {
  flex: 1;
  overflow: auto;
  inline-size: 95%;
}